---
import Layout from '../layouts/BlogPost.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Layout
	title=`เกี่ยวกับ ${SITE_TITLE}`
	description=`เกี่ยวกับ ${SITE_TITLE}`
	keywords=''
	pubDate={new Date('August 08 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		<h1>Under construction!</h1>
	</p>

</Layout>
